

.box-azul {
    color: white;
    margin-top: 30px;
    padding: 20px;
    background-color: #00285F;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 333px;
    height: 199px;
}

.title {
    margin: 0 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.subtitle__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 420px;
}

@media only screen and (min-width: 768px) {
    .box-container {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        padding-left: 85px;
    }

    .image-container img {
        width: 100%;
        max-width: 455px;
        height: auto;
    }

}